*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: "Montserrat", sans-serif;
}


/* container */

.container{
    width: 80%;
    margin: 0px auto;
}

/* Header Start */

header{
    background-color: #750DB5;
    padding: 20px 0px;
    color: #ffffff;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header-wrapper nav a {
    margin-right: 30px;
}

.header-wrapper nav a:nth-child(3){
    margin-right: 0px;
} */

.header-wrapper h4{
    font-weight:700;
    font-size: 32px;
}

.header-wrapper nav {
    display: flex;
    gap: 30px;
}

.header-wrapper a{
    color: #ffffff;
}


/* Banner starts */
.banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Avoid */
/* .child-1, .child-2{
    width: 50%;
} */

.banner{
    padding: 100px 0px;
}

.banner-wrapper > div{
    width: 50%;
    text-align: center;
}

.banner h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 30px;
}

.banner p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}

.banner-wrapper > div:nth-child(1) > div{
   display: flex;
   justify-content: center;
   gap: 35px;
   align-items: center;
}

.banner-wrapper > div:nth-child(1) > div > a{
    padding: 20px 30px;
    border-radius: 12px;
}

.banner-wrapper > div:nth-child(1) > div > a:nth-child(1){
    background-color: #FFA92C;
    color: #ffffff;
}

/* Jobs Start */

.jobs{
    padding: 80px 0px;
}

.jobs h2{
    margin-bottom: 30px;
}

.jobs-wrappers{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.jobs-wrappers > div{
    padding: 30px;
    color: #ffffff;
    border-radius: 20px;
    min-height: 348px;
}

.jobs-wrappers > div a{
    color: #ffffff;
}

.jobs-wrappers > div:nth-child(1){
    background-color: #0C445C;
}

.jobs-wrappers > div:nth-child(2){
    background-color: #5B2C98;
}

.jobs-wrappers > div:nth-child(3){
    background-color: #7F3219;
}

.jobs-wrappers > div img{
    margin-bottom: 25px;
}

.jobs-wrappers > div h4{
    margin-bottom: 20px;
}

.jobs-wrappers > div > span{
    margin: 20px 0px;
    display: block;
}

.jobs-wrappers > div > p{
    margin: 20px 0px;
}

.jobs-wrappers > div > div{
    display: flex;
    gap: 10px;
    align-items: center;
}

.jobs-wrappers > div > div > a{
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

.jobs-wrappers > div > div > a:hover{
    background-color: #FFA92C;
}

.jobs-wrappers > div > div > a, 
.jobs-wrappers > div > div > span{
    font-size: 15px;
}

footer{
    padding: 20px 0px;
    background-color: #D6D6D6;
    text-align: center;
}

footer p{
    color: #4254F4;
}



/* Responsive starts */

@media only screen and (min-width: 1100px) {
    .banner-wrapper h1{
        font-size: 48px;
    }
}

@media only screen and (min-width: 1000px) {

    .banner-wrapper h1 span{
        display: block;
    }

    .banner-wrapper > div{
        text-align: left;
    }

    .banner-wrapper > div:nth-child(1) > div{
        justify-content: flex-start;
    }

}

@media only screen and (max-width: 1000px) {
    .banner-wrapper{
        flex-direction: column;
    }

    .banner-wrapper > div {
        width: 100%;
    }
    
    .jobs-wrappers{
        flex-wrap: wrap;
    }

    .jobs-wrappers>div:nth-child(1),
    .jobs-wrappers>div:nth-child(2){
        width: 48%;
    }

    .jobs-wrappers>div:nth-child(3){
        width: 100%;
    }
}

@media only screen and (max-width: 768px){

    .jobs-wrappers>div{
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .header-wrapper{
        flex-direction: column;
        gap: 30px;
        /* display: block;
        text-align: center; */ 
    }

    .banner-wrapper > div:nth-child(1) > div{
        flex-direction: column;
        margin-bottom: 30px;
     }
/* 
    .header-wrapper nav{
        justify-content: center;
        margin-top: 30px;
    } */
}