@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1115px;
    margin: 0px auto;
    padding: 0px 15px;
}

a{
    text-decoration: none;
}

/* shared style */
.btn{
    padding: 15px 25px;
    border-radius: 30px;
    color: #ffffff;
    display: inline-block;
}

.btn.primary-btn{
    background-color:#231A36;
}

.btn.secondary-btn{
    display: none;
    background-color: rgba(255, 250, 249, 0.2);
}

.sec-heading{
    text-align: center;
    margin-bottom: 30px;
}

.sec-heading h2{
    font-size: 40px;
    font-weight: 600;
    color: #231A36;
}

/* Header Wrapper */

header{
    padding: 20px 0px;
}

header a{
    color: #ffffff;
}

.header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header-wrapper nav{
    display: flex;
    gap: 30px;
}

/* Banner Start */

main{
    background: url("./img/banner/bg.png") center no-repeat;
    /* background-repeat: no-repeat;
    background-position: center; */
    background-size: cover;
}

.banner{
    padding: 100px 0px;
}

.banner-wrapper{
    text-align: center;
    color: #ffffff;
}

.banner-wrapper h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.banner-wrapper p{
    margin-bottom: 50px;
}



/* .header-wrapper nav a{
    margin-right: 30px;
}

.header-wrapper nav a:last-child{
    margin-right: 0px;
} */

/* Clients Starts */
.clients{
    padding: 80px 0px;
}

.clients-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.clients-wrapper > div{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}


/* Solutions starts */
.solutions{
    padding: 100px 0px;
}

.solutions .container{
    width: 750px;
}

.solutions-wrapper{
    margin-top: 50px;
}

.solutions-wrapper > div{
    display: flex;
    align-items: center;
}

.solutions-wrapper > div > div{
    width: 50%;
}

.solutions-wrapper > div > div:nth-child(1) span{
    text-transform: uppercase;
    color: #B33CDB;
    display: inline-block;
    margin-bottom: 5px;
}

.solutions-wrapper h4{
    color: #1F1F26;
    font-size: 30px;
    font-weight: 600;
}

.solutions-wrapper p{
    margin: 10px 0px;
}

.solutions-wrapper > div > div:nth-child(2){
    text-align: right;
}


@media only screen and (min-width: 1000px) {
    .line-break{
        display: block;
    }

    .banner-wrapper h1{
        font-size: 94px;
    }

    .clients-wrapper > div{
        width: 15% !important;
    }
}

@media only screen and (min-width: 768px) {
   .btn.secondary-btn{
     display: block;
   }
}

@media only screen and (min-width: 576px) {
    .header-wrapper{
        flex-direction: row;
    }

    .clients-wrapper > div{
        width: 50%;
    }
}



